body{
  text-align:center;
  background-image:url('https://images4.alphacoders.com/288/thumb-1920-2884.jpg');
background-size: 100%;

}

.displayButton{
    width:80px;
    height:80px;
    font-size:16px;
  font-family: 'Arial Rounded MT Bold';
    color: white;
    background-color: #2ECC71;
text-align:center;


}
.eqButton{
  width:80px;
  height:80px;
  font-size:16px;
  font-family: 'Arial Rounded MT Bold';
  background-color: #00B2FF;
text-align:center;
}
.cButton{
  width:80px;
  height:80px;
  font-size:16px;
  font-family: 'Arial Rounded MT Bold';
text-align:center;
background-color: #FFC300;
}
input{
  width:350px;
  height:80px;
  font-size:16px;
  font-family: 'Arial Rounded MT Bold';
  background-color: #2ECC71;
text-align:center;

}
